#page_page
{
	background:#6868686;
	/*padding: 1rem;*/
	/*margin: 2rem auto;*/
	border-radius: 0.9rem;
	counter-reset: pagination;
	text-align: center;
}
#page_page li
{
	border:solid 2px #d6d6d6;
	border-radius: 0.9rem;
	color:#B3E4EA;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 0.8rem 0.6rem;
}