#page_page
{
	background:#fdfdfd;
	/*padding: 1rem;
	margin: 2rem auto;*/
	border-radius: 0.2rem;
	counter-reset: pagination;
	text-align: center;
}
#page_page li
{
	border:solid 1px #d6d6d6;
	border-radius: 0.2rem;
	color:#7d7d7d;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding: 0.2rem 0.2rem;
}